# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# The big database and the backups #
seqenv/data_sources/gi_db.sqlite3
seqenv/data_sources/gi_db.sqlite3.zip
seqenv/data_sources/restore_gi_db.zip

# IDE #
.idea

# Distribution on PyPI #
dist/
MANIFEST

# Automatic documentation #
documentation/automatic
documentation/html
